* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
}
ul,li{
    list-style-type: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#main{
    width: 640px;
    height: 1008px;
    overflow: hidden;
    position: absolute;
    left:50%;
    top:0;
    margin-left: -320px;
    -webkit-transform-origin:top;
    transform-origin: top;
}
#list{
    height: 100%
}
#list li{
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size:cover;
}
#list li.zIndex{
    z-index: 8;
}
#list li:nth-child(1){
    background-image:url(../img/1-bg.jpg) ;
}
#list li:nth-child(2){
    background-image:url(../img/2-bg.jpg) ;
}
#list li:nth-child(3){
    background-image:url(../img/3-bg.jpg) ;
}
#list li:nth-child(4){
    background-image:url(../img/4-bg.jpg) ;
}
#list li:nth-child(5){
    background-image:url(../img/5-bg.jpg) ;
}
#list li:nth-child(6){
    background-image:url(../img/6-bg.gif) ;
}
#list li:nth-child(7){
    background-image:url(../img/7-bg.jpg) ;
}
.a1 .a1-list1,.a1 .a1-list2{
    position: absolute;
    border-radius: 50%;
    left: 50%;
    opacity: 1;
}
.a1 .a1-list1{
    height: 215px;
    width: 215px;
    margin-left: -108px;
    top: 16%;
}
.a1 img{
    width: 100%;
    height: 100%;
}
.a1 .a1-list2{
    height: 190px;
    width: 190px;
    margin-left: -95px;
    top: 17.2%;
}
.a1 .a1-list1 img,.a1 .a1-list2 img{
    background-size: 100% 100%;
    border-radius: 50%;
}
.a1 .a1-list3{
    position: absolute;
    left: 50%;
    margin-left: -60px;
    opacity: 1;
    height: 25%;
    top: 40%;
}
.a1 .a1-list4{
    position: absolute;
    left: 36%;
    opacity: 1;
    height: 120px;
    width: 62px;
    font-size: 58px;
    color: #f4711f;
    font-weight: bold;
    top: 40%;
}
.a1 .a1-list5{
    position: absolute;
    right: 36%;
    opacity: 1;
    height: 120px;
    width: 62px;
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    top: 40%;
}
.a1 .a1-list6{
    position: absolute;
    left: 50%;
    margin-left: -35.5%;
    opacity: 1;
    height: 36px;
    width: 79%;
    font-size: 22px;
    color: #fff;
    top: 70%;
}
#a1-list6 p{
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    transition: 5s;
    -webkit-transition: 5s;
}
.a1 .a1-list7{
    position: absolute;
    left: 50%;
    margin-left: -100px;
    opacity: 1;
    height: 80px;
    width: 200px;
    border-radius: 40px;
    line-height: 80px;
    font-size: 28px;
    font-weight: bold;
    top: 80%;
    color: #f4711f;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 3px 10px 1px black;
}
.a2 .a2-list1{
    position: absolute;
    left: 14%;
    width: 16%;
    height: 77%;
    opacity: 1;
    top: 10%;
}
.a2 img{
    width: 100%;
    height: 100%;
}
.a2 .a2-list2 a:nth-child(1){
    background: url("../img/2-1.png")no-repeat center;
    position: absolute;
    left: 22%;
    width: 66%;
    height: 3%;
    opacity: 1;
    top: 21.5%;
}
.a2 .a2-list2 a:nth-child(2){
    background: url("../img/2-1.png")no-repeat center;
    position: absolute;
    left: 22%;
    width: 66%;
    height: 3%;
    opacity: 1;
    top: 37.5%;
}
.a2 .a2-list2 a:nth-child(3){
    background: url("../img/2-1.png")no-repeat center;
    position: absolute;
    left: 22%;
    width: 66%;
    height: 3%;
    opacity: 1;
    top: 53.5%;
}
.a2 .a2-list2 a:nth-child(4){
    background: url("../img/2-1.png")no-repeat center;
    position: absolute;
    left: 22%;
    width: 66%;
    height: 3%;
    opacity: 1;
    top: 69.5%;
}
.a2 .a2-list2 a:nth-child(5){
    background: url("../img/2-1.png")no-repeat center;
    position: absolute;
    left: 22%;
    width: 66%;
    height: 3%;
    opacity: 1;
    top: 85.5%;
}
.a2 .a2-list3 img:nth-child(1){
    position: absolute;
    left: 14.3%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 1;
    top: 10%;
}
.a2 .a2-list3 img:nth-child(2){
    position: absolute;
    left: 14.3%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 1;
    top: 26%;
}
.a2 .a2-list3 img:nth-child(3){
    position: absolute;
    left: 14.3%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 1;
    top: 42%;
}
.a2 .a2-list3 img:nth-child(4){
    position: absolute;
    left: 14.3%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 1;
    top: 58%;
}
.a2 .a2-list3 img:nth-child(5){
    position: absolute;
    left: 14.3%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 1;
    top: 74%;
}
.a2 .a2-list4 p:nth-child(1){
    position: absolute;
    left: 35%;
    top: 13%;
    font-size: 26px;
    font-weight: bold;
    color: #fff;

}
.a2 .a2-list4 p:nth-child(2){
    position: absolute;
    left: 35%;
    top: 29%;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}
.a2 .a2-list4 p:nth-child(3){
    position: absolute;
    left: 35%;
    top: 45%;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}
.a2 .a2-list4 p:nth-child(4){
    position: absolute;
    left: 35%;
    top: 61%;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}
.a2 .a2-list4 p:nth-child(5){
    position: absolute;
    left: 35%;
    top: 77%;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}
.a3 img{
    width: 100%;
    height: 100%;
}
.a3 .a3-list1 img:nth-child(1){
     position: absolute;
     left: 28.2%;
     width: 90px;
     height: 90px;
     opacity: 1;
     top: 9.5%;
 }
.a3 .a3-list1 img:nth-child(2){
    position: absolute;
    width: 90px;
    height: 90px;
    opacity: 1;
    left: 53%;
    top: 25%;
}
.a3 .a3-list1 img:nth-child(3){
    position: absolute;
    width: 90px;
    height: 90px;
    opacity: 1;
    left: 28%;
    top: 40.5%;
}
.a3 .a3-list1 img:nth-child(4){
    position: absolute;
    width: 90px;
    height: 90px;
    opacity: 1;
    left: 54%;
    top: 57%;

}
.a3 .a3-list1 img:nth-child(5){
    position: absolute;
    width: 90px;
    height: 90px;
    opacity: 1;
    left: 28%;
    top:75%;
}
.a3 .a3-list2 a:nth-child(1){
    background: url("../img/3-1.png");
    position: absolute;
    left: 50.5%;
    width: 24.5%;
    height: 24.5%;
    margin-left: -100px;
    opacity: 1;
    top: 13.5%;
}
.a3 .a3-list2 a:nth-child(2){
    background: url("../img/3-2.png");
    position: absolute;
    left: 50.5%;
    width: 25%;
    height: 29%;
    margin-left: -100px;
    opacity: 1;
    top: 15.5%;
}
.a3 .a3-list2 a:nth-child(3){
    background: url("../img/3-1.png");
    position: absolute;
    left: 50.5%;
    width: 26%;
    height: 29%;
    margin-left: -100px;
    opacity: 1;
    top: 44.6%;
}
.a3 .a3-list2 a:nth-child(4){
    background: url("../img/3-2.png");
    position: absolute;
    left: 50.5%;
    width: 26%;
    height: 40%;
    margin-left: -100px;
    opacity: 1;
    top: 49%;
    transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
}
.a3 .a3-list3 p:nth-child(1){
     position: absolute;
     left: 45%;
     top: 11.5%;
     font-size: 28px;
     color: #fff;
 }
.a3 .a3-list3 p:nth-child(2){
    position: absolute;
    left: 20%;
    top: 27.5%;
    font-size: 28px;
    color: #fff;
}
.a3 .a3-list3 p:nth-child(3){
    position: absolute;
    left: 45%;
    top: 43%;
    font-size: 28px;
    color: #fff;
}
.a3 .a3-list3 p:nth-child(4){
    position: absolute;
    left: 39.5%;
    top: 59.5%;
    font-size: 28px;
    color: #fff;
}
.a3 .a3-list3 p:nth-child(5){
    position: absolute;
    left: 45%;
    top: 77.5%;
    font-size: 28px;
    color: #fff;
}
.a4 h2{
    position: absolute;
    top: 9%;
    font-size: 45px;
    font-weight: bold;
    left: 6%;
    color: gray;
}
.a4 .a4-list1{
    width: 28%;
    height: 85%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -67%;
    background: gray;
    opacity: 0.5;
}
.a4 .a4-list1 p:nth-child(1){
    position: absolute;
    top: 13%;
    left: 25%;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
.a4 .a4-list1 p:nth-child(2){
    position: absolute;
    top: 24%;
    left: 37%;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
.a4 .a4-list1 p:nth-child(3){
    position: absolute;
    top: 34%;
    left: 35%;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
.a4 .a4-list1 p:nth-child(4){
    position: absolute;
    top: 48%;
    left: 44%;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
.a4 .a4-list1 p:nth-child(5){
    position: absolute;
    top: 58%;
    left: 29%;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
.a4 .a4-list1 p:nth-child(6){
    position: absolute;
    top: 68%;
    left: 21%;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
.a4 .a4-list1 p:nth-child(7){
    position: absolute;
    top: 79%;
    left: 42%;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
.a4 .a4-list1 p:nth-child(8){
    position: absolute;
    top: 89%;
    left: 49%;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
.a4 .a4-list2 div{
    position: absolute;
    left: 28%;
    width: 380px;
    height: 40px;
    background: #fff;
}
.a4 .a4-list2 div:nth-child(1){
    top: 18.5%;
}
.a4 .a4-list2 div:nth-child(2){
    top: 28.5%;
}
.a4 .a4-list2 div:nth-child(3){
    top: 38%;
}
.a4 .a4-list2 div:nth-child(4){
    top: 48%;
}
.a4 .a4-list2 div:nth-child(5){
    top: 57%;
}
.a4 .a4-list2 div:nth-child(6){
    top: 65.5%;
}
.a4 .a4-list2 div:nth-child(7){
    top: 74.5%;
}
.a4 .a4-list2 div:nth-child(8){
    top: 83.5%;
}
.a4 .a4-list2 p{
    height: 100%;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.a4 .a4-list2 div:nth-child(1) p{
    width: 90%;
    background: red;
}
.a4 .a4-list2 div:nth-child(2) p{
    width: 70%;
    background: orange;
}
.a4 .a4-list2 div:nth-child(3) p{
    width: 65%;
    background: rosybrown;
}
.a4 .a4-list2 div:nth-child(4) p{
    width: 65%;
    background: green;
}
.a4 .a4-list2 div:nth-child(5) p{
    width: 50%;
    background: blue;
}
.a4 .a4-list2 div:nth-child(6) p{
    width: 80%;
    background: springgreen;
}
.a4 .a4-list2 div:nth-child(7) p{
    width: 50%;
    background: blueviolet;
}
.a4 .a4-list2 div:nth-child(8) p{
    width: 55%;
    background: cornflowerblue;
}
.a5 h2{
    font-size: 85px;
    font-weight: bold;
    color: lavender;
    position: absolute;
    top: 15%;
    left: 11%;
}
.a5 .a5-list1{
    position: absolute;
    top: 18%;
    left: 21%;
    width: 120px;
    height: 300px;
}
.a5 .a5-list1 img{
    width: 100%;
    height: 100%;
}
.a5 p{
    font-size: 26px;
    color: #fff;
    position: absolute;
    top: 17.5%;
    left: 35.5%;
    width: 350px;
    height: 450px;
}
.a6 h2:nth-child(1){
    font-size: 45px;
    color: #fff;
    position: absolute;
    top: 11%;
    left: 14.5%;
    width: 400px;
    height: 200px;
}
.a6 h2:nth-child(2){
    font-size: 26px;
    color: #fff;
    position: absolute;
    top: 12.5%;
    left: 51.5%;
    width: 400px;
    height: 200px;
}
.a6 img{
    width: 100%;
    height: 100%;
}
.a6 .a6-list1{
    position: absolute;
    top: 9%;
    left: 15%;
    width: 450px;
    height: 200px;
    background: url("../img/6-5.png")no-repeat center;
}
.a6 .a6-list2{
    position: absolute;
    top: 45.5%;
    left: 15%;
    opacity: 1;
    background-color: rgba(0,0,0,0.25);
    height: 88px;
    width: 88px;
}
.a6 .a6-list3{
    position: absolute;
    top: 54.5%;
    left: 15%;
    opacity: 1;
    background-color: rgba(0,0,0,0.25);
    height: 88px;
    width: 88px;
}
.a6 .a6-list4{
    position: absolute;
    top: 63.5%;
    left: 15%;
    opacity: 1;
    background-color: rgba(0,0,0,0.25);
    height: 88px;
    width: 88px;
}
.a6 .a6-list5{
    position: absolute;
    top: 72.5%;
    left: 15%;
    opacity: 1;
    background-color: rgba(0,0,0,0.25);
    height: 88px;
    width: 88px;
}
.a6 .a6-list6{
    position: absolute;
    top: 45.5%;
    left: 29%;
    opacity: 1;
    background-color: rgba(0,0,0,0.25);
    height: 88px;
    width: 355px;
}
.a6 .a6-list7{
    position: absolute;
    top: 54.5%;
    left: 29%;
    opacity: 1;
    background-color: rgba(0,0,0,0.25);
    height: 88px;
    width: 355px;
}
.a6 .a6-list8{
    position: absolute;
    top: 63.5%;
    left: 29%;
    opacity: 1;
    background-color: rgba(0,0,0,0.25);
    height: 88px;
    width: 355px;
}
.a6 .a6-list9{
    position: absolute;
    top: 72.5%;
    left: 29%;
    opacity: 1;
    background-color: rgba(0,0,0,0.25);
    height: 88px;
    width: 355px;
}
.a6 p{
    font-size: 22px;
    color: #fff;
    line-height: 88px;
    margin-left: 25px;
    font-weight: 200;
}
.a7{
    width: 480px;
    height: 730px;
    background: #fff;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -240px;
    margin-top: -365px;
    box-shadow: 0 3px 10px 0 black;
}
.a7 img{
    width: 100%;
    height: 100%;
}
.a7 .a7-list1{
    width: 165px;
    height: 165px;
    border: 4px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -82.5px;
    box-shadow: 0 3px 10px 0 gainsboro;
}
.a7 .a7-list1 img{
    border-radius: 50%;
}
.a7 .a7-list2{
    background: url("../img/7-1.png")no-repeat center;
    position: absolute;
    width: 400px;
    height: 100px;
    top: 35%;
    left: 50%;
    margin-left: -200px;
}
.a7 h2{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 200px;
    margin-left: -81px;
    font-size: 42px;
    font-weight: bold;
    color: gray;
}
.a7 .a7-list3{
    position: absolute;
    width: 235px;
    height: 235px;
    top: 49%;
    left: 50%;
    margin-left: -117.5px;
    box-shadow: 0 3px 10px 0 gray;
}
.a7 p{
    font-size: 23px;
    color: gray;
    position: absolute;
    top: 88%;
    left: 50%;
    width: 230px;
    margin-left: -115px;
}